<div class="row">
  <div class="col-12 d-flex">
    <img class="imgSlider w-100 px-0"  src="../../../assets/img/slider.png" alt="" />
    <div class="opciones">
      <p>Cerrar</p> 
      <img src="../../../assets/img/cerca.png" alt="" />
    </div>
  </div>
</div>


<div class="row">
  <div class="contenido col-12 col-md-4">
    <div class="row d-flex justify-content-center">
      <div class="px-0 container-personaje">
        <img
          class="w-100 h-100 rounded-circle personaje"
          src="../../../assets/img/personaje.jfif"
          alt=""
        />
      </div>
    </div>
    <div
      class="row datosEmpleado d-flex d-justify-content-center d-align-items-center"
    >
      <h1>Ing. Edwin San Román Zubizarreta</h1>
      <h3>Gerente General</h3>
    </div>
  </div>

  <div class="tarjeta col-12 col-md-8">
    <div class="compartir d-flex justify-content-center">
        <img class="iconoCom" src="../../../assets/img/comaprtiblue.png" alt="" />
      <div>
        <p style="padding: 10px">COMPARTIR TARJETA</p>
      </div>
    </div>

    <div class="row contenidoCompartir">
      <div class="row parrafo">
        <span>
          Puedes compartir esta tarjeta fácilmente en cualquiera de los
          sistemas informados que tengas habilitados en tu dispositivo.
        </span>
      </div>
      <div class="row d-flex">

        <div class="acceso" style="margin-right: 15px ;width: 130px;">
          <div class="accesoIcon d-flex justify-content-center">
            <img
              style="width: 27px; margin: auto"
              src="../../../assets/img/codigoqr.png"
              alt=""
            />
          </div>
          <p>QR acceso a tarjeta</p>
        </div>

        <div class="acceso"  style="width: 120px;">
          <div class="accesoIcon d-flex justify-content-center">
            <img
              style="width: 27px"
              src="../../../assets/img/codigoqr.png"
              alt=""
            />
          </div>
          <span>QR vCard</span>
        </div>
        <div class="row">
          <div class="subcompartir">
            <p>COMPARTIR EN SISTEMAS DE COMUNICACIÓN:</p>
          </div>
          <div class="rede">
              <div class="imagenes">
                  <a href=""><img class="icon" src="../../../assets/img/whatboton.png" alt="" /></a>
                  <a href=""><img class="icon" src="../../../assets/img/smsboton.png" alt="" /></a>                
              </div>
          </div>
        </div>
        <div class="row">
          <div class="subcompartir">
              <p>COMPARTIR EN REDES SOCIALES:</p>
          </div>
          <div class="rede">
              <div class="imagenes">
                  <img src="../../../assets/img/faceboton.png" alt="" />
                  <img src="../../../assets/img/twitterboton.png" alt="" />
                  <img src="../../../assets/img/linkdinboton.png" alt="" />
                  <img src="../../../assets/img/pinterestboton.png	" alt="" />
              </div>
          </div>
        </div>
        <div class="row">
          <div class="subcompartir">
              <p>OTROS MÉTODOS PARA COMPARTIR:</p>
          </div>
          <div class="acceso" style="width: 120px;">
              <div class="accesoIcon d-flex justify-content-center">
                <img
                  style="width: 25px"
                  src="../../../assets/img/copiar.png"
                  alt=""
                />
              </div>
              <span style="font-size: 13px;">Copiar enlace</span>
          </div>
        </div>
        <div class="row">
          <div class="subcompartir">
              <p>
                  Puedes enviar esta tarjeta por email que incluye un acceso directo y
                  un formato vCard para descarga.
                </p>
          </div>

          <div class="acceso"  style="width: 120px;">
              <div class="accesoIcon d-flex justify-content-center">
                <img
                  style="width: 25px"
                  src="../../../assets/img/enviarEmail.png"
                  alt=""
                />
              </div>
              <span style="font-size: 13px;">Enviar por email</span>
          </div>
        </div>
      </div>
      
    </div>
    
  </div>
</div>