<div class="row">
  <div class="col d-flex justify-content-center">
      <div class="opciones">
          Cerrar
        <img src="../../../assets/img/cerca.png" alt="" />
      </div>
    </div>
  <div class="row">
    <img class="imgSlider" src="../../../assets/img/slider.png" alt="" />
  </div>
</div>
<div class="row">
  <div class="contenido col-12 col-md-4">
    <div class="row d-flex justify-content-center">
      <div class="px-0 container-personaje">
        <img
          class="w-100 h-100 rounded-circle personaje"
          src="../../../assets/img/personaje.jfif"
          alt=""
        />
      </div>
    </div>
    <div
      class="row datosEmpleado d-flex d-justify-content-center d-align-items-center"
    >
      <h1>Ing. Edwin San Román Zubizarreta</h1>
      <h3>Gerente General</h3>
    </div>
  </div>

  <div class="tarjeta col-12 col-md-8">
    <div class="compartir d-flex justify-content-center">
        <img class="iconoCom" src="../../../assets/img/comaprtiblue.png" alt="" />
      <div>
        <p style="padding: 10px">GUARDAR</p>
      </div>
    </div>

    <div class="row contenidoCompartir">
      <div class="row parrafo">
        <div class="subcompartir">
          <P>VCARD</P>
        </div>
        <span>
          Descarga la vCard si quieres añadir los datos de esta 
          tarjeta a tus contactos en cualquier dispositivo. (Incluye foto)
        </span>
      </div>
      <div class="row d-flex">

        <div class="acceso" style="margin-right: 15px ;width: 130px;">
          <div class="accesoIcon d-flex justify-content-center">
            <img
              style="width: 27px; margin: auto"
              src="../../../assets/img/descargas.png"
              alt=""
            />
          </div>
          <p>Añadir a contactos</p>
        </div>

        <div class="acceso"  style="width: 120px;">
          <div class="accesoIcon d-flex justify-content-center">
            <img
              style="width: 27px"
              src="../../../assets/img/codigoqr.png"
              alt=""
            />
          </div>
          <span>QR vCard</span>
        </div>
        <div class="row">
          <div class="subcompartir">
              <p>ENTREGA DE TARJETA SIN CONECTIVIDAD</p>
              <span>Guarda la imagen de un QR en tu móvil para que 
                puedas entregar tu tarjeta cuando no tengas conectividad.</span>
          </div>
          <div class="acceso" style="width: 120px;">
              <div class="accesoIcon d-flex justify-content-center">
                <img
                  style="width: 25px"
                  src="../../../assets/img/enviarEmail.png"
                  alt=""
                />
              </div>
              <span style="font-size: 13px;">Guardar QR vCard</span>
          </div>
        </div>
        <div class="row">
          <div class="subcompartir">
              <p>
                AÑADIR A PANTALLA DE INICIO
                </p>
                <span>Puedes crear un acceso directo (añadir a pantalla de inicio) 
                  a la tarjeta desde tu móvil o tu ordenador.</span>
          </div>

          <div class="acceso"  style="width: 120px;">
              <div class="accesoIcon d-flex justify-content-center">
                <img
                  style="width: 25px"
                  src="../../../assets/img/accesodirecto.png"
                  alt=""
                />
              </div>
              <span style="font-size: 13px;">Acceso directo</span>
          </div>
        </div>
      </div>
      
    </div>
    
  </div>
</div>