<div class="row">
  <div class="col d-flex justify-content-center">
      <div class="opciones">
          Cerrar
        <img src="../../../assets/img/cerca.png" alt="" />
      </div>
    </div>
  <div class="row">
    <img class="imgSlider" src="../../../assets/img/slider.png" alt="" />
  </div>
</div>
<div class="row">
  <div class="contenido col-12 col-md-4">
    <div class="row d-flex justify-content-center">
      <div class="px-0 container-personaje">
        <img
          class="w-100 h-100 rounded-circle personaje"
          src="../../../assets/img/personaje.jfif"
          alt=""
        />
      </div>
    </div>
    <div
      class="row datosEmpleado d-flex d-justify-content-center d-align-items-center"
    >
      <h1>Ing. Edwin San Román Zubizarreta</h1>
      <h3>Gerente General</h3>
    </div>
  </div>

  <div class="tarjeta col-12 col-md-8 ">
    <div class="compartir d-flex justify-content-center">
        <img class="iconoCom " src="../../../assets/img/qrblue.png" alt="" />
      <div>
        <p style="padding: 10px">QR ACCESO A TARJETA</p>
      </div>
    </div>

    <div class="row contenidoCompartir">
      <div class="row parrafo d-flex justify-content-center">
        <span>
            Usa la cámara de tu smartphone o un lector de QR 
            para acceder a la tarjeta digital.
        </span>
        <img src="../../../assets/img/qr-code.png" alt="">
      </div>
      <div class="row d-flex">
          <p>Recuerda que al acceder a la tarjeta debes 
            guardarla para poder acceder posteriormente ella.</p>
        </div>
        <div class="row d-flex" style="padding-top: 15px;">
            <p>Usa la opción de QR vCard si quieres guardar en contactos los datos de la tarjeta.</p>
          </div>

        <div class="acceso"  style="width: 80px;">
          <div class="accesoIcon d-flex justify-content-center">
            <img
              style="width: 26px"
              src="../../../assets/img/cuaderno-de-contactos.png"
              alt=""
            />
          </div>
          <span>QR vCard</span>
        </div>
      </div>          
    </div>        
  </div>
  
