<div class="row">
  <div class="col d-flex justify-content-center">
    <div class="opciones">
      Cerrar
      <img src="../../../assets/img/cerca.png" alt="" />
    </div>
  </div>
  <div class="row">
    <img class="imgSlider" src="../../../assets/img/slider.png" alt="" />
  </div>
</div>
<div class="row">
  <div class="contenido col-12 col-md-4">
    <div class="row d-flex justify-content-center">
      <div class="px-0 container-personaje">
        <img
          class="w-100 h-100 rounded-circle personaje"
          src="../../../assets/img/personaje.jfif"
          alt=""
        />
      </div>
    </div>
    <div
      class="row datosEmpleado d-flex d-justify-content-center d-align-items-center"
    >
      <h1>Ing. Edwin San Román Zubizarreta</h1>
      <h3>Gerente General</h3>
    </div>
  </div>

  <div class="tarjeta col-12 col-md-8">
    <div class="compartir d-flex justify-content-center">
      
      <div>
        <p style="padding: 10px">VIDEO INSTITUCIONAL</p>
      </div>
    </div>

    <div class="row contenidoCompartir ">
      <div class="row d-flex">
        <iframe
          width="100%"
          height="315"
          src="https://www.youtube.com/embed/3se4XT6RSns"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
          class="object-fit-contain"
        >
        </iframe>
      </div>
      <div class="row d-flex" style="padding-top: 15px">
          <div class="descripcion d-flex justify-content-center">
              <a type="button" class="btn btn-outline-dark">
                  <img src="../../../assets/img/camara.png" alt="" />
                  Ver video ampliado
              </a>
          </div>

      </div>
    </div>
  </div>
</div>