<div class="row">
  <div class="col d-flex justify-content-center">
    <div class="opciones">
      Cerrar
      <img src="../../../assets/img/cerca.png" alt="" />
    </div>
  </div>
  <div class="row">
    <img class="imgSlider" src="../../../assets/img/slider.png" alt="" />
  </div>
</div>
<div class="row">
  <div class="contenido col-12 col-md-4">
    <div class="row d-flex justify-content-center">
      <div class="px-0 container-personaje">
        <img
          class="w-100 h-100 rounded-circle personaje"
          src="../../../assets/img/personaje.jfif"
          alt=""
        />
      </div>
    </div>
    <div
      class="row datosEmpleado d-flex d-justify-content-center d-align-items-center"
    >
      <h1>Ing. Edwin San Román Zubizarreta</h1>
      <h3>Gerente General</h3>
    </div>
  </div>

  <div class="tarjeta col-12 col-md-8">
    <div class="compartir d-flex justify-content-center">
      <img class="iconoCom" src="../../../assets/img/alfiler.png" alt="" />
      <div>
        <p style="padding: 10px">DATOS DE LOCALIZACIÓN</p>
      </div>
    </div>

    <div class="row contenidoCompartir">
      <div class="row parrafo d-flex justify-content-center">
        <span style="color: black; padding-bottom: 15px">
          Av. Prolongacion Pedro Miota 421 15842 San Juan de Miraflores (Lima)
          Perú
        </span>
      </div>
      <div class="row d-flex">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.007400579359!2d-76.97646348518612!3d-12.17989909137871!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa0bcc9946c992d3e!2zMTLCsDEwJzQ3LjYiUyA3NsKwNTgnMjcuNCJX!5e0!3m2!1ses!2spe!4v1675370610412!5m2!1ses!2spe"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
      <div class="row d-flex" style="padding-top: 15px">
        <div class="descripcion d-flex justify-content-center">
          <button type="button" class="btn btn-outline-dark">
            <img src="../../../assets/img/ubicacionmapa.png" alt="" />
            Mapa de Localización
          </button>
        </div>
      </div>
      <div class="row d-flex" style="padding-top: 15px">
        <div class="descripcion d-flex justify-content-center">
          <button type="button" class="btn btn-outline-dark">
            <img src="../../../assets/img/ruta.png" alt="" />
            Cómo llegar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>